@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Almarai", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container {
    width: 100vw;
    height: 100vh;
    font-family: "Almarai", sans-serif;
    font-weight: 700;
    font-style: normal;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url(/img/aimyon-banner1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.find-pw {
    width: 30%;
    height: 53%;
    text-align: center;
    background-color: rgba(234, 233, 233, 0.7);
    border-radius: 3vh;
}

.title {
    font-size: 2rem;
    padding-top: 10%;
}

.explain {
    padding-top: 3%;
    padding-bottom: 13%;
    font-size: 0.8rem;
}

.id {
    display: grid;
    justify-content: center;
    align-items: center;
}

.id input {
    width: 20vw;
    height: 5.5vh;
    padding: 3%;
    margin-bottom: 1.5%;
    border: 0.3vh solid #ccc;
    border-radius: 2vh;
    outline: none;
    background-color: rgba(255, 255, 255, 0.7);
}

.btn {
    width: 20vw;
    height: 5.5vh;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 0.3vh solid rgba(69, 69, 69, 0.7);
    border-radius: 2vh;
    outline: none;
    background-color: rgba(69, 69, 69, 0.7);
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;
}

.go-to-login {
    margin-top: 7%;
}
.sign-up {
    margin-top: 1%;
}




a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
}






